test_format = 1.0

[default]

    # -------------------------------
    # Default args to use for install
    # -------------------------------
    
    args.language = "en_GB"
    args.with_carddav = 1
